body.template-calculator {
  div.page-header {
    min-height: 350px;
    padding: 0;
    position: relative;
    display: flex;

    div.overlay {
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background-color: #0c0000;
      opacity: 0.58;
    }

    h1.page-header {
      font-family: "Raleway", sans-serif;
      color: white;
      text-align: center;
      display: flex;
      align-self: center;
      margin: 0 auto;
      z-index: 1;
      text-transform: uppercase;
      font-weight: 700;
    }

    div.shape-bottom {
      position: absolute;
      bottom: -5px;
      right: 0;
      width: 100%;

      svg {
        fill: white;
      }
    }
  }

  input[type="number"] {
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  div.material-type-container {
    padding-bottom: 1rem;
    border-radius: 4px;

    &:hover {
      box-shadow: 1px 1px 5px 0 color(primary);
      transform: translate(-2px, -2px);
    }

    .material-type-image {
      height: 120px;
      background-image: url(/wp-content/uploads/2019/10/cropped-Logo-v2.png);
      background-size: cover;
      border-radius: 4px 4px 0 0;
      background-position: center center;
    }

    span.material-type {
      font-size: 1.05rem;
      font-weight: 500;
    }

    table {
      font-size: 0.9rem;
      font-weight: 300;

      td {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }

    a.calculate-button {
      padding: 0.5rem 1rem;
      background-color: #61ce70;
      color: white;
      border: 1px solid #50ab5d;
    }
  }
}

#offerte input {
  margin: 10px 15px;
}
